<div class="header">
  <div class="header-top">
    <div class="logo-container">
      <img src="/assets/images/app-logo.svg">
    </div>
    <div class="header-left">
      <div class="title">SigFi</div>
    </div>
    <div class="user-input-container light-input">
      <div class="user-input">
        <app-subdivision></app-subdivision>
      </div>
    </div>
    <div class="user-input-container light-input">
      <app-date-select></app-date-select>
    </div>
    <div class="user-input-container light-input">
      <div class="user-input">
        <app-search-input></app-search-input>
      </div>
    </div>
    <div class="user-input-container light-input">
      <div class="user-input">
        <app-signal-quality></app-signal-quality>
      </div>
    </div>
    <div class="user-input-container light-input">
      <div class="user-input">
        <button mat-raised-button
                color="accent"
                (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
  <app-day-select></app-day-select>
</div>