<mat-form-field>
  <mat-select placeholder="Subdivision"
              [(value)]="selected">
    <mat-option *ngFor="let subdivision of subdivisions"
                [value]="subdivision.value"
                (click)="onSubdivisionSelect($event)">{{ subdivision.viewValue }}</mat-option>
    <!-- <mat-option>None</mat-option>
    <mat-option value="fn">FN</mat-option>
    <mat-option value="fz">FZ</mat-option>
    <mat-option value="c8">C8</mat-option>
    <mat-option value="he">HE</mat-option>
    <mat-option value="to">TO</mat-option>
    <mat-option value="na">NA</mat-option>
    <mat-option value="sn">SN</mat-option>
    <mat-option value="ri">RI</mat-option>
    <mat-option value="mh">MH</mat-option>
    <mat-option value="cp">CP</mat-option>
    <mat-option value="ct">CT</mat-option>
    <mat-option value="pi">PI</mat-option>
    <mat-option value="ln">LN</mat-option>
    <mat-option value="lc">LC</mat-option>
    <mat-option value="ml">ML</mat-option>
    <mat-option value="se">JACKSONVILLE</mat-option>
    <mat-option value="ch">CHICAGO</mat-option>
    <mat-option value="sk">CHICAGO</mat-option>
    <mat-option value="nd">CHICAGO</mat-option>
    <mat-option value="mt">CHICAGO</mat-option>
    <mat-option value="mm">CHICAGO</mat-option>
    <mat-option value="it">CHICAGO</mat-option>
    <mat-option value="b1">CHICAGO</mat-option>
    <mat-option value="wa">CHICAGO</mat-option>
    <mat-option value="my">CHICAGO</mat-option>
    <mat-option value="ag">CHICAGO</mat-option>
    <mat-option value="bk">CHICAGO</mat-option>
    <mat-option value="ce">CHICAGO</mat-option>
    <mat-option value="js">CHICAGO</mat-option>
    <mat-option value="cu">CHICAGO</mat-option>
    <mat-option value="pa">JACKSONVILLE</mat-option>
    <mat-option value="aa">CHICAGO</mat-option>
    <mat-option value="jr">CHICAGO</mat-option>
    <mat-option value="cs">CHICAGO</mat-option>
    <mat-option value="or">CHICAGO</mat-option>
    <mat-option value="nh">CHICAGO</mat-option>
    <mat-option value="bl">CHICAGO</mat-option>
    <mat-option value="bu">CHICAGO</mat-option>
    <mat-option value="ew">CHICAGO</mat-option>
    <mat-option value="jt">CHICAGO</mat-option>
    <mat-option value="no">CHICAGO</mat-option>
    <mat-option value="kw">CHICAGO</mat-option>
    <mat-option value="ak">CHICAGO</mat-option>
    <mat-option value="tt">CHICAGO</mat-option>
    <mat-option value="ss">CHICAGO</mat-option>
    <mat-option value="ip">JACKSONVILLE</mat-option>
    <mat-option value="tn">CHICAGO</mat-option>
    <mat-option value="cq">CHICAGO</mat-option>
    <mat-option value="rr">CHICAGO</mat-option>
    <mat-option value="bz">CHICAGO</mat-option>
    <mat-option value="s0">CHICAGO</mat-option>
    <mat-option value="do">CHICAGO</mat-option>
    <mat-option value="nr">CHICAGO</mat-option>
    <mat-option value="lt">CHICAGO</mat-option>
    <mat-option value="me">CHICAGO</mat-option>
    <mat-option value="m0">CHICAGO</mat-option>
    <mat-option value="nm">CHICAGO</mat-option>
    <mat-option value="st">CHICAGO</mat-option>
    <mat-option value="th">CHICAGO</mat-option>
    <mat-option value="sb">CHICAGO</mat-option>
    <mat-option value="ht">JACKSONVILLE</mat-option>
    <mat-option value="bs">CHICAGO</mat-option>
    <mat-option value="aw">CHICAGO</mat-option>
    <mat-option value="mn">CHICAGO</mat-option>
    <mat-option value="m5">CHICAGO</mat-option>
    <mat-option value="c3">CHICAGO</mat-option>
    <mat-option value="c2">CHICAGO</mat-option>
    <mat-option value="ev">CHICAGO</mat-option>
    <mat-option value="hl">CHICAGO</mat-option>
    <mat-option value="ps">CHICAGO</mat-option>
    <mat-option value="ws">CHICAGO</mat-option>
    <mat-option value="rv">CHICAGO</mat-option>
    <mat-option value="s7">CHICAGO</mat-option>
    <mat-option value="pj">CHICAGO</mat-option>
    <mat-option value="b0">CHICAGO</mat-option>
    <mat-option value="p5">JACKSONVILLE</mat-option>
    <mat-option value="sh">CHICAGO</mat-option>
    <mat-option value="wt">CHICAGO</mat-option>
    <mat-option value="vn">CHICAGO</mat-option>
    <mat-option value="ze">CHICAGO</mat-option>
    <mat-option value="au">CHICAGO</mat-option>
    <mat-option value="kp">CHICAGO</mat-option>
    <mat-option value="c9">CHICAGO</mat-option>
    <mat-option value="mw">CHICAGO</mat-option>
    <mat-option value="br">CHICAGO</mat-option>
    <mat-option value="kd">CHICAGO</mat-option>
    <mat-option value="mp">CHICAGO</mat-option>
    <mat-option value="av">CHICAGO</mat-option>
    <mat-option value="cc">CHICAGO</mat-option>
    <mat-option value="z1">CHICAGO</mat-option>
    <mat-option value="ms">JACKSONVILLE</mat-option>
    <mat-option value="tl">CHICAGO</mat-option>
    <mat-option value="wm">CHICAGO</mat-option>
    <mat-option value="rc">CHICAGO</mat-option>
    <mat-option value="wq">CHICAGO</mat-option>
    <mat-option value="po">CHICAGO</mat-option>
    <mat-option value="td">CHICAGO</mat-option>
    <mat-option value="ab">CHICAGO</mat-option>
    <mat-option value="lr">CHICAGO</mat-option>
    <mat-option value="an">CHICAGO</mat-option> -->
  </mat-select>
</mat-form-field>