<mat-button-toggle-group class="day-selector" #group="matButtonToggleGroup" *ngIf="daySelectService.showVar" (click)="selectDay(group.value)">
  <mat-button-toggle value="1">1</mat-button-toggle>
  <mat-button-toggle value="2">2</mat-button-toggle>
  <mat-button-toggle value="3">3</mat-button-toggle>
  <mat-button-toggle value="4">4</mat-button-toggle>
  <mat-button-toggle value="5">5</mat-button-toggle>
  <mat-button-toggle value="6">6</mat-button-toggle>
  <mat-button-toggle value="7">7</mat-button-toggle>
  <mat-button-toggle value="8">8</mat-button-toggle>
  <mat-button-toggle value="9">9</mat-button-toggle>
  <mat-button-toggle value="10">10</mat-button-toggle>
  <mat-button-toggle value="11">11</mat-button-toggle>
  <mat-button-toggle value="12">12</mat-button-toggle>
  <mat-button-toggle value="13">13</mat-button-toggle>
  <mat-button-toggle value="14">14</mat-button-toggle>
  <mat-button-toggle value="15">15</mat-button-toggle>
  <mat-button-toggle value="16">16</mat-button-toggle>
  <mat-button-toggle value="17">17</mat-button-toggle>
  <mat-button-toggle value="18">18</mat-button-toggle>
  <mat-button-toggle value="19">19</mat-button-toggle>
  <mat-button-toggle value="20">20</mat-button-toggle>
  <mat-button-toggle value="21">21</mat-button-toggle>
  <mat-button-toggle value="22">22</mat-button-toggle>
  <mat-button-toggle value="23">23</mat-button-toggle>
  <mat-button-toggle value="24">24</mat-button-toggle>
  <mat-button-toggle value="25">25</mat-button-toggle>
  <mat-button-toggle value="26">26</mat-button-toggle>
  <mat-button-toggle value="27">27</mat-button-toggle>
  <mat-button-toggle value="28">28</mat-button-toggle>
  <mat-button-toggle value="29">29</mat-button-toggle>
  <mat-button-toggle value="30">30</mat-button-toggle>
  <mat-button-toggle value="31">31</mat-button-toggle>
</mat-button-toggle-group>
