@import "../../../variables.scss";

.day-selector {
  background-color: $deep-grey;
  display: flex;
  align-items: center;
  border-radius: 0;
}

.day-selector mat-button-toggle {
  color: $text;
}

.day-selector mat-button-toggle:hover {
  background-color: $accent-blue;
  color: $text;
}

.day-selector mat-button-toggle.mat-button-toggle-checked {
  background-color: $accent-blue;
}
