@import "../../variables.scss";

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .card-cont {
    display: flex;
  }

  .train-card {
    margin: 20px;
  }

  .left-card {
    background-color: $highlight-blue;
    width: 20%;
  }

  .right-card {
    width: 80%;
  }