<!-- <p>this is text</p>
<div ngFor="let train of trains; let i = index">
  {{ train }}
</div>
<p>this is more text</p> -->
<!-- <div class="example-container mat-elevation-z8">
  <div class="col-xs-10">
    <ul class="list-group">
      <a class="list-group-item"
         style="cursor: pointer;"
         *ngFor="let train of trains; let i = index">
        {{ train.locoId }}
      </a>
    </ul>
  </div>
</div> -->
<!-- <mat-card class="train-card" *ngFor="let train of trains">
  <mat-card-content class="card-cont">
    <div class="left-card">
      {{train.trainId}}
      {{train.locoId}}
    </div>
    <div class="right-card">
      subdivision: {{ train.subdivision }}
      deviceId: {{train.deviceId}}
      signalStrength: {{train.signalStrength}}
      signalQuality: {{train.signalQuality}} <mat-icon svgIcon="poor"></mat-icon>
      latitude: {{train.latitude}}
      longitude: {{train.longitude}}
      speed: {{train.speed}}
      timestamp: {{train.timestamp}}
    </div>
  </mat-card-content>
</mat-card> -->

<div>
  <mat-card class='top-card'>
    <div class='top-card-sub'>
      <div class="count-container">
        <strong>{{returnLength}} Results</strong>
      </div>
    </div>
    <div class='top-card-sub'>
      <mat-icon svgIcon="excellent"></mat-icon>
      <div class="count-container">Excellent ({{excellentCount}})</div>
    </div>
    <div class='top-card-sub'>
      <mat-icon svgIcon="very-good"></mat-icon>
      <div class="count-container">Very Good ({{veryGoodCount}})</div>
    </div>
    <div class='top-card-sub'>
      <mat-icon svgIcon="good"></mat-icon>
      <div class="count-container">Good ({{goodCount}})</div>
    </div>
    <div class='top-card-sub'>
      <mat-icon svgIcon="poor"></mat-icon>
      <div class="count-container">Poor ({{poorCount}})</div>
    </div>
    <div class='top-card-sub'>
      <mat-icon svgIcon="out-of-range"></mat-icon>
      <div class="count-container">Out of Range ({{oorCount}})</div>
    </div>
    <div class='top-card-sub'>
      <mat-icon svgIcon="not-usable"></mat-icon>
      <div class="count-container">Not Usable ({{noneCount}})</div>
    </div>
  </mat-card>
  <mat-card>
    <mat-table #table
               [dataSource]="trains">
      <ng-container matColumnDef="signalQuality">
        <mat-header-cell *matHeaderCellDef> Signal Quality </mat-header-cell>
        <mat-cell *matCellDef="let train">
          <mat-icon *ngIf="train.signalQuality=='P'"
                    svgIcon="poor"></mat-icon>
          <mat-icon *ngIf="train.signalQuality=='N'"
                    svgIcon="not-usable"></mat-icon>
          <mat-icon *ngIf="train.signalQuality=='X'"
                    svgIcon="out-of-range"></mat-icon>
          <mat-icon *ngIf="train.signalQuality=='G'"
                    svgIcon="good"></mat-icon>
          <mat-icon *ngIf="train.signalQuality=='V'"
                    svgIcon="very-good"></mat-icon>
          <mat-icon *ngIf="train.signalQuality=='E'"
                    svgIcon="excellent"></mat-icon>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="signalStrength">
        <mat-header-cell *matHeaderCellDef> Signal Strength </mat-header-cell>
        <mat-cell *matCellDef="let train"> {{train.signalStrength}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="trainId">
        <mat-header-cell *matHeaderCellDef> Train ID </mat-header-cell>
        <mat-cell *matCellDef="let train"> {{train.trainId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="locomotiveId">
        <mat-header-cell *matHeaderCellDef> Locomotive ID </mat-header-cell>
        <mat-cell *matCellDef="let train"> {{train.locoId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="deviceId">
        <mat-header-cell *matHeaderCellDef> Device ID </mat-header-cell>
        <mat-cell *matCellDef="let train"> {{train.deviceId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lat">
        <mat-header-cell *matHeaderCellDef> Latitude </mat-header-cell>
        <mat-cell *matCellDef="let train"> {{train.latitude}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lon">
        <mat-header-cell *matHeaderCellDef> Longitude </mat-header-cell>
        <mat-cell *matCellDef="let train"> {{train.longitude}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="speed">
        <mat-header-cell *matHeaderCellDef> Speed </mat-header-cell>
        <mat-cell *matCellDef="let train"> {{train.speed}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef> Timestamp</mat-header-cell>
        <mat-cell *matCellDef="let train"> {{train._timestamp}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>