<mat-form-field>
  <mat-select  placeholder="All Signals" [formControl]="signals"  multiple>
    <mat-option *ngFor="let signal of signalList" [value]="signal.value">{{ signal.text }}</mat-option>
  </mat-select>
</mat-form-field>
