<app-header *ngIf="!headerService.showSplash"></app-header>
<app-main-content *ngIf="!headerService.showSplash"></app-main-content>
<app-splash-page *ngIf="headerService.showSplash"></app-splash-page>