@import "../../../variables.scss";
mat-button-toggle.mat-button-toggle {
  color: $text;
}

mat-button-toggle:hover {
  background-color: $accent-blue;
  color: $text;
}

mat-button-toggle.mat-button-toggle-checked {
  background-color: $accent-blue;
}

div.date-text {
  color: $text;
  opacity: .75;
  font-size: smaller;
}

div.date-select-root {
  display: flex;
}

div.date-text {
  padding-left: 12px;
  padding-top: 8px;
}
