<div class="date-select-root">
  <div class="user-input">
    <mat-button-toggle color="primary"  (click)="toggleDays()">Date</mat-button-toggle>
  </div>
  <div class="date-text" *ngIf="daySelectService.dayNum">January {{ daySelectService.dayNum }}, 2018</div>
</div>