@import '~@angular/material/theming';
@include mat-core();

/* Overriding default 'Robobo' typography */
$custom-typography: mat-typography-config(
  $font-family: 'Ubuntu'
);
@include angular-material-typography($custom-typography);

/*Custom theme just for top input*/
$light-input-primary: mat-palette($mat-blue);
$light-input-accent:  mat-palette($mat-blue, 600, 900, 200);

$light-input-theme: mat-light-theme($light-input-primary, $light-input-accent);

.light-input{
  @include angular-material-theme($light-input-theme);
}

.light-input .mat-form-field-label, .light-input .mat-focused .mat-form-field-label,
.light-input .mat-input-element {
  color: #fff;
}

.light-input .mat-form-field-underline {
  background-color: #f2f2f2;
}

.light-input .mat-input-element{
  caret-color: #fff;
}

.light-input .mat-select-value {
  color: #ffffff;
}

.light-input .mat-select-arrow {
  color: #009CEA;
}

.mat-select-content .mat-option-text {
  color: rgba(0,0,0,0.87);
}