@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/css?family=Ubuntu");

@import "./custom-theme.scss";

@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.inner-wrapper {
  padding: 0 5%;
}

.mat-card {
  margin: 30px;
}

.top-card-sub {
    display: flex;
    align-items: center;
    width: 15%;

}

.mat-card.top-card {
  display:flex;
}

.count-container {
  margin-left:5px;
}